trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: npm install
  displayName: 'Install dependencies'

- script: echo "Running Tests" && exit 1
  displayName: 'run-tests'

- script: |
    echo "Building App"
    mkdir build
    cp app.js build/
  displayName: 'Build app'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'build'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Archive artifacts'
